<?xml version="1.0" encoding="utf-8"?>
<!-- App "TechMenu Quản lý" (P30, QD-033): một màn WebView mở /quan-ly. Không cầu in, không chạy nền. Gộp với src/main. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".QuanLyActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|density"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
